VITE_API_BASE_URL=http://localhost:6001
VITE_DEPLOYED_API_BASE_URL=https://hhh-jobs-backend.onrender.com
VITE_SUPABASE_URL=https://levyiynekgeohmmxrujp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_D3_TGxePg6kU-uoBFtkVWA_LfffX6UK
VITE_GETSTREAM_API_KEY=
